[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
click = "==6.7"
gunicorn = "==19.8.1"
itsdangerous = "==0.24"
pipenv = "==2018.5.18"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.3.0"
Flask = "==1.0.2"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"

[dev-packages]

[requires]
python_version = "3.6"
